
.img-blog,.img-blog-principal{
    width: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}
.container-img-block{
    min-width: 275px;
    height: 200px;
}

.img-blog-principal,.img-blog{
    height: 100%;
}
.picture-blog-principal{
    overflow: hidden !important;
    width: 100%;
    height: 400px;
}

.img-blog:hover,.img-blog-principal:hover{
    transform: scale(1.3) rotate(-10deg);
    transition: all .4s ease-in-out;
}